.barraNavegacion {
  background-color: #29373D;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  align-items: flex-end;
  // box-shadow: 0px 15px 10px -3px rgba(0, 0, 0, 0.1),
  //   6px 0px 13px -3px rgba(0, 0, 0, 0.3);

  .itemMenu-container {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;

    .item {
      width: 25px;
      cursor: pointer;
    }

    .darkmodeSwitch {
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 10px;

      .afuera {
        display: flex;
        width: 90px;
        height: 50px;
        border: 1px solid black;
        border-radius: 100px;
        padding: 5px;
        flex-direction: column;
        justify-content: center;

        .adentro {
          width: 40px;
          height: 40px;
          border: 1px solid black;
          border-radius: 100px;
        }
      }
    }
  }
}
