<section class="barraNavegacion-container" >
  <div class="barraNavegacion">
    <div class="itemMenu-container">
      <div class="item darkmodeSwitch">
        <img class="item itemDarkmode" src="../../../assets/svg/moon.svg">
        <div class="afuera">
          <div class="adentro"></div>
        </div>
        <img class="item itemDarkmode"src="../../../assets/svg/sun.svg">
      </div>
      <img class="item" src="../../../assets/svg/menu.svg" alt="">
      <img class="item" src="../../../assets/svg/user.svg" alt="">
    </div>
  </div>
</section>
