<div class="horarioTable">
  <div class="headerHorarioTable">
    <h3>Nuevos Wods</h3>
    <button>+ Nuevo</button>
  </div>
  <div class="inputHorario">
    <div>
      <div class="inputHorario--item">
        <label for="">Nombre del WOD</label>
        <input type="text" placeholder="Wod" />
      </div>
      <div class="inputHorario--item">
        <label for="">Fecha</label>
        <input type="date" />
      </div>
    </div>
    <div>
      <div class="inputHorario--item">
        <label for="">Ejercicios</label>
        <select name="" id="">
          <option value="">Lunes</option>
          <option value="">Martes</option>
          <option value="">Miercoles</option>
          <option value="">Jueves</option>
          <option value="">Viernes</option>
          <option value="">Sabado</option>
          <option value="">Domingo</option>
        </select>
      </div>
      <div class="inputHorario--item">
        <label for="">Repeticiones</label>
        <input type="text" placeholder="#"/>
      </div>
    </div>
    <div>
      <div>
        <label for=""></label>
      </div>
    </div>
    <button>Agregar</button>
  </div>
  <div class="tableTitles">
    <p class="items">#</p>
    <p class="items">Ejercicio</p>
    <p class="items">Repetición</p>
  </div>
  <div *ngFor="let wod of Wods" class="tableItems">
    <p class="items">{{ wod.id }}</p>
    <p class="items">{{ wod.ejercicio }}</p>
    <p class="items">{{ wod.repeticion }}</p>
  </div>
  <div class="buttons">
    <a href="/wods">Volver</a>
    <a>Guardar</a>
  </div>
</div>
