.containerGeneral{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 1006px;
  height: 831px;
  border: 1px solid white;
  font-size: 25px;
  .Referencias{
    display: flex;
    align-items: center;
    width: 1005px;
    height: 75px;
    border: 1px solid white;
    padding: 0;
    a{
      text-decoration: none;
      color: white;
      margin-left: 20px;
    }
    h3{
      text-decoration: none;
      color: white;
      margin-left: 20px;
    }
  }
  .atletasContainer{
    display: flex;
    flex-direction: column;
    margin: 60px 60px 60px 60px;
    width: 895px;
    height: 825px;
    border: 1px solid white;
    .adminAndButtom{
      display: flex;
      align-items: center;
      width: 895px;
      height: 100px;
      border: 1px solid white;
      h1{
        margin-left: 20px;
        padding: 0;
        font-size: 25px;
        color: white;
      }
      button{
        margin-left: 500px;
        width: 150px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid white;
        background-color: black;
        color: white;
        font-size: 15px;
        cursor: pointer;
      }
    }
    .Search{
      display: flex;
      align-items: center;
      width: 895px;
      height: 100px;
      border: 1px solid white;
      input{
        margin-left: 20px;
        width: 300px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid white;
        background-color: black;
        color: white;
        font-size: 15px;
        padding-left: 10px;
      }
    }
    .tableName{
      display: flex;
      align-items: center;
      width: 895px;
      height: 350px;
      border: 1px solid white;
      table {
        border: 1px solid black;
        width: 100%;
        height: 100%;
      }

      tr {
        background-color: #ccc;
      }

      td {
        padding: 10px;
      }
    }
    .pages{
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: center;
      width: 895px;
      height: 100px;
      border: 1px solid white;
      a{
        text-decoration: none;
        color: white;
        margin-left: 20px;
      }
    }
  }
}

