<app-navbar></app-navbar>
<div class="atletasContent">
  <app-menu></app-menu>
  <div class="containerGeneral">
    <div class="Referencias">
      <a href="">Inicio</a>
      <h3>></h3>
      <a href="">Atleta</a>
    </div>
    <div class="atletasContainer">
      <div class="adminAndButtom">
        <h1>Atletas</h1>
        <button class="btnBuscar" (click)="toggleFloatingWindow()">Buscar</button>
        <app-floating-tab (CloseFloatingWindow)="handleFloatingWindowClose()" (SaveAtleta)="handleSaveAtleta($event)" *ngIf="showFloatingWindow"></app-floating-tab>
      </div>
      <div class="Search">
        <input type="text" placeholder="Buscar" />
      </div>
      <div class="tableName">
        <table>
          <tr>
            <td>#</td>
            <td>Nombres</td>
            <td>Apellidos</td>
            <td>Cedula</td>
            <td>Acciones</td>
          </tr>
          <tr *ngFor="let atleta of atletas; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ atleta.nombres }}</td>
            <td>{{ atleta.fecha }}</td>
            <td>{{ atleta.identificacion }}</td>
            <td><!-- Acciones --></td>
          </tr>
        </table>
      </div>
  </div>
</div>
