<div class="bodyLogin">
  <form action="" class="formLogin">
    <div class="profilePic"></div>
    <label for="" class="label labelUsername">Email</label>
    <input type="text" class="inputText" placeholder="email" />
    <label for="" class="label labelPassword">Password</label>
    <input type="password" class="inputText" placeholder="password" />
    <div class="rememberMe-container">
      <input type="checkbox" name="" id="" />
      <label for="" class="label labelRememberMe">Remember me</label>
    </div>
    <button type="submit" class="btnLogin">Login</button>
    <a href="#" class="forgotPassword">Forgot your password?</a>
  </form>
</div>
