.floatingWindow{
  position: fixed;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 115px;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  background-color: lightgray;
  .titleAndButton{
    display: flex;
    flex-direction: row;
    .tittleAtleta{
      font-size: 20px;
    }

    .cerrar{
      display: flex;
      justify-content: center;
      margin-left: 299px;
      width: 25px;
      height: 25px;
      background-color: lightgray;
      .buttonX{
        background-color: lightgray;
        width: 100vw;
        border: none;
        color: #000;
        font-size: 20px;
        cursor: pointer;
      }
      .buttonX:hover {
        background-color: red;
        text-decoration: none; /* Subrayar el texto al pasar el mouse */
    }
    }
  }
  .firstFields{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .nombres {
    grid-column: 1;
    grid-row: 1;

  }
  .apellidos {
    grid-column: 2;
    grid-row: 1;
  }
  .input-nombres {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: none;
    grid-column: 1;
    grid-row: 2;
  }
  .input-apellidos {
    border: none;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 2;
  }
  .secondFields{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .input-fecha{
    border: none;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 2;

  }
  .input-ident{
    border: none;
    border-radius: 5px;
    width:200px;
    height:35px;
  }
  .threeFields{
    display: grid;
    margin-top: 20px;
  }
  .input-correo{
    border-radius: 5px;
    border: none;
    width:200px;
    height:35px;
  }
  .fourFields{
    display: grid;
    margin-top: 20px;
  }
  .input-password{
    border-radius: 5px;
    border: none  ;
    width:200px;
    height:35px;
  }
  .fiveFields{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
  }
  .guardarEstudiante{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    width: 250px;
    height: 25px;
  }
}

