<div class="floatingWindow">
  <div class="titleAndButton">
    <div class="tittleAtleta">
      <h1>Nuevo atleta</h1>
    </div>
    <div class="cerrar">
      <button class="buttonX" (click)="closeWindow()">x</button>
    </div>
  </div>
  <div class="firstFields">
    <label class="nombres">Nombres</label>
    <label class="apellidos">Apellidos</label>
    <input type="text" class="input-nombres" [(ngModel)]="atleta.nombres" />
    <input type="text" class="input-apellidos" [(ngModel)]="atleta.apellidos" />
  </div>
  <div class="secondFields">
    <label class="ident">Identificacion</label>
    <label class="fecha">Fecha</label>
    <input type="text" class="input-ident" [(ngModel)]="atleta.identificacion" />
    <input type="date" class="input-fecha" [(ngModel)]="atleta.fecha" />
  </div>
  <div class="threeFields">
    <label class="correo">Correo Electronico</label>
    <input type="text" class="input-correo" [(ngModel)]="atleta.correoElectronico" />
  </div>
  <div class="fourFields">
    <label>Password</label>
    <input type="password" class="input-password" [(ngModel)]="atleta.password" />
  </div>
  <div class="fiveFields">
    <button class="guardarEstudiante" (click)="saveAtleta()">Guardar</button>
  </div>
