<section class="Home">
  <div class="menu">
    <h3 class="menuTitle">Crossfit</h3>
    <div class="itemsContainer">
      <div class="itemMenu itemMenu--home">
        <img class="img" src="../../../assets/img/home.png" alt="" />
        <p>Home</p>
      </div>
      <div class="itemMenu itemMenu--buscar">
        <img class="img" src="../../../assets/img/Search.png" alt="" />
        <p>Buscar</p>
      </div>
      <div class="itemMenu itemMenu--crear">
        <img class="img" src="../../../assets/img/Add.png" alt="" />
        <p>Crear</p>
      </div>
      <div class="itemMenu itemMenu--actividad">
        <img class="img" src="../../../assets/img/Like.png" alt="" />
        <p>Actividad</p>
      </div>
      <div class="itemMenu itemMenu--profile">
        <img class="img" src="../../../assets/img/perfilPequeño.png" alt="" />
        <p>Perfil</p>
      </div>
      <div class="itemMenu itemMenu--mas">
        <img class="img" src="../../../assets/img/btnMas.png" alt="" />
        <p class="Mas">Mas</p>
      </div>
    </div>
  </div>
</section>
