//Estilos del contenedor principal
.Home {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(
    to top,
    #021b79,
    #083194,
    #0b47af,
    #0b5eca,
    #0575e6
  );
  box-sizing: border-box;

  //Estilos del contenedor del menu
  .menu {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;

    //Estilos del contenedor del logo
    .menuTitle {
      font-size: 25px;
      margin-top: 25px;
      color: white;
      font-family: "Poppins", sans-serif;
      text-align: center;
    }

    //Estilos del contenedor de los items
    .itemsContainer {
      margin-left: 20px;

      //Estilos de los items
      .itemMenu {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        width: 100%;
        height: 60px;
        align-items: center;
        gap: 10px;
        p {
          border: 1px solid white;
          margin: 0;
          padding: 0;
          color: white;
          font-family: "Poppins", sans-serif;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        img {
          margin: 0;
          width: 20px;
        }
      }
      //Estilos del item seleccionado
      .itemMenu--profile {
        img {
          width: 25px;
        }
      }
    }
  }
}

//Estilos del contenedor del contenido principal
.mainContent {
  margin: 25px 80px 25px 190px;
  .agregarPost{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    //Agregar estilo de los elementos que se encuentren
    //dentro del contenido principal
    .postContainer {
      diplay: flex;
      flex-direction: row;
      background-color: black;
      border-radius: 20px;
      margin-top: 15px;
      margin-left: 40px;
      width: 525px;
      height: 115px;
      align-items: center;
      .userName {
        border: 1px solid white;
        margin: 0;
        padding: 0;
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .imgPerfilPost{
        border: 1px solid white;
        margin: 0;

      }
      .inputPost{
        width: 400px;
        height: 20px;
        margin: 0;
        padding:0;
      }
      .imgClipPost{
        margin: 0;
      }
    }
  }
  .postAgregado{

    .agregadoPostCt{
      diplay: flex;
      flex-direction: row;
      background-color: black;
      border-radius: 20px;
      margin-top: 15px;
      margin-left: 40px;
      width: 525px;
      height: 160px;
      align-items: center;
      .Prueba{
        color: white;
      }
    }
  }
}
.sugerenciasContent{
  margin: 25px 10px 300px 30px;
  .sugerencias{
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
    .sugerenciasContainer{
          diplay: flex;
            flex-direction: row;
            background-color: black;
            border-radius: 20px;
            width: 300px;
            height: 450px;
            align-items: center;

    }
  }
}
