<section class="Home">
  <div class="menu">
    <div class="user">
      <div class="profilePic"></div>
      <h3 class="menuTitle">Username</h3>
    </div>
    <div class="itemsContainer">
      <div class="itemMenu itemMenu--home">
        <img class="img" src="../../../assets/img/home.png" alt="" />
        <p>Home</p>
      </div>
      <div class="itemMenu itemMenu--buscar">
        <img class="img" src="../../../assets/img/Search.png" alt="" />
        <p>Atleta</p>
      </div>
      <div class="itemMenu itemMenu--crear">
        <img class="img" src="../../../assets/img/Add.png" alt="" />
        <p>Coach</p>
      </div>
      <div class="itemMenu itemMenu--actividad">
        <img class="img" src="../../../assets/img/Like.png" alt="" />
        <p>Administradores</p>
      </div>
      <div class="itemMenu itemMenu--profile">
        <img class="img" src="../../../assets/img/perfilPequeño.png" alt="" />
        <p>Horarios</p>
      </div>
      <div class="itemMenu itemMenu--mas">
        <img class="img" src="../../../assets/img/btnMas.png" alt="" />
        <p class="Mas">Mas</p>
      </div>
    </div>
  </div>
</section>
