<section class="Home">
  <div class="menu">
    <div class="user">
      <div class="profilePic"></div>
      <h3 class="menuTitle">Username</h3>
    </div>
    <div class="itemsContainer">
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/home.svg" alt="" />
        <p>Home</p>
      </div>
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/atleta.svg" alt="" />
        <p>Atletas</p>
      </div>
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/coach.svg" alt="" />
        <p>Coachs</p>
      </div>
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/admin.svg" alt="" />
        <p>Administradores</p>
      </div>
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/horarios.svg" alt="" />
        <p>Horarios</p>
      </div>
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/wod.svg" alt="" />
        <p>Wods</p>
      </div>
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/asignarHorarios.svg" alt="" />
        <p>Asignar Coach a horarios</p>
      </div>
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/membership.svg" alt="" />
        <p>Membresias</p>
      </div>
    </div>
  </div>
</section>
