<div class="menu">
  <div class="user">
    <div class="profilePic"></div>
    <h3 class="menuTitle">Username</h3>
  </div>
  <div class="itemsContainer">
    <a href="/home">
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/home.svg" alt="" />
        <p>Home</p>
      </div>
    </a>
    <a href="/atletas">
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/atleta.svg" alt="" />
        <p>Atletas</p>
      </div>
    </a>
    <a href="/coachs">
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/coach.svg" alt="" />
        <p>Coachs</p>
      </div>
    </a>
    <a href="administradores">
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/admin.svg" alt="" />
        <p>Administradores</p>
      </div>
    </a>
    <a href="/horarios">
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/horarios.svg" alt="" />
        <p>Horarios</p>
      </div>
    </a>
    <a href="/wods">
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/wod.svg" alt="" />
        <p>Wods</p>
      </div>
    </a>
    <a href="/">
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/wod.svg" alt="" />
        <p>Ejercicios</p>
      </div>
    </a>
    <a href="/asignar-coach">
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/asignarHorarios.svg" alt="" />
        <p>Asignar Coach a horarios</p>
      </div>
    </a>
    <a href="/membresia">
      <div class="itemMenu">
        <img class="img" src="../../../assets/svg/membership.svg" alt="" />
        <p>Membresias</p>
      </div>
    </a>
  </div>
</div>
